body{
    margin: 0;
}

.nav{
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
}

.nav a{
    margin-right: 20px;
}

.top-image{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    margin-right: 15px;
}

#middle{
    margin-top: 40px;
    
}
.logo{
    display: flex;
    justify-content: center;
}
.google-logo{
    height: 180px;
    width: 300px;
}

#searchbarcontainer{
    
    position: relative;
    width: 600px;
    margin: auto;
    
}

#search{
    position: absolute;
    top: 10px;
    left: 20px;
}
#voice{
    position: absolute;
      top: 10px;
    right: 20px;
    font-weight: 100;
    
    
}
#searchbar{
    padding: 10px 40px 10px 40px;
    outline: 0;
    width: 100%;
    border-radius: 16px;
    border: 1px solid #c4c4c4;
   box-sizing: border-box;
}

.searchbar:hover{
    box-shadow: 0 0 10px 2px rgb(233,233,233);
}




#buttons{
    display: flex;
    justify-content: center;
}
.button{
    text-align: center;
    margin: 30px 10px 0;
    cursor: pointer;
    padding: 10px 6px;
    background-color: rgb(253, 249, 249);
    border-radius: 3px;
    border: 2px solid transparent;
}

.button:hover{
    box-shadow: 0 0 2px 1px black;
}
#links{
    text-align: center;
    margin-top: 30px;
}

.link{
    text-decoration: none;
    margin-left: 10px;
}

#footer{
    margin-top: 250px;
    background-color: rgb(231,231,231);
    
}
.f1{
    padding: 10px 15px;
    color:#70757a;;
}

.footer-link{
    padding: 15px;
    text-decoration: none;
    
}
.f2 a{
    color:#70757a;;
}
.f2{
    display: flex;
}
hr{
    margin: 0;
}
.footer-link-right{
    position:absolute;
    right: 180px;
    text-decoration: none;
    margin-top: 14px;
}

.footer-link-right2{
    position:absolute;
    right: 100px;
    text-decoration: none;
    margin-top: 14px;
}

.footer-link-right3{
    position:absolute;
    right: 20px;
    text-decoration: none;
    margin-top: 14px;
}

a:hover{
    text-decoration: underline;
}